src/bd/design_1/*.bda
src/bd/design_1/*.bxml
src/bd/design_1/*.xdc
src/bd/design_1/hw_handoff
src/bd/design_1/ip
src/bd/design_1/ipshared
src/bd/design_1/sim
src/bd/design_1/synth
src/bd/design_1/ui
src/hls
macros/project_1
macros/nonproject_*
macros/*.log
macros/*.vivadolog
macros/*.logerr
macros/*.jou
macros/*.journal
macros/*.str
macros/.Xil
